body {
    background: lightgray;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.45;
    margin: 0;
    padding: 0;
}
#contact {
    left: 1em;
}
#skills {
    right: 1em;
    text-align: right;
}
#resume {
    max-width: 50em;
    padding: 2em;
    background: white;
    margin: 0 auto;
    color: #222;
    box-shadow: 0 0 30px rgba(0, 0, 0,.2);
}

.corner-box {
    h1 {
        font-size: 2em;
        margin-bottom: 0;
    }
    h2 {
        margin: .5em 0 .25em;
    }
    position: fixed;
    top: 1em;
    max-width: 18em;

    @for $i from 10 through 20 {
        @media screen and ( min-width:( $i*10 ) + "em" ) {
            & { max-width: ( ( $i * 5 ) - 30 ) em ; }
        }
    }
    .hgroup {
        margin-bottom: 1em;
    }
}


/*
$TYPE: Type elements
------------------------------ */
p, ul {
    margin: 0 0 1.25em;
}

em, .em {
    font-style: italic;
    font-weight: 300;

}
ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    ul  {
        margin-left: 1em;
        margin-bottom: .725em;

        li: before  {
            content: "\2014";
            margin: 0 .125em 0 -1em;
            display: inline;
        }
    }
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: 100;
    color: black;
}
h1 {
    font-size: 1.5em;
    padding-bottom: .125em;
    border-bottom: 1px dotted darkgray;
    margin-bottom: .875em;
}
h2 {
    font-size: 1.45em;
    line-height: 1;
}
h3 {
    color: #666;
    font-family: Georgia, Times New Roman, Times, serif;
    font-weight: normal;
    font-style: italic;
    line-height: 1.6;
    margin-bottom: 3px;
}

#employment h2 {
    font-weight: 300;
    line-height: 1.5;
    .location {
        font-weight: 100;
        font-size: .8em;
        margin-left: .5em;
        &:before {
            content: "|";
            padding-right: .5em;
        }
    }
}

.time {
    font-style: normal;
    &:before { content: "("; }
    &:after { content: ")"; }
}
a {
    color: inherit;
    text-decoration: none;
//    border-bottom: 1px dotted gray;
    &:hover {
        color: #000;
//        border-bottom-style: solid;
    }
}
